.box1, .box2{
width: 300px;
height: 300px;
background-color: aqua;
}
.box2{
    background-color: crimson;
    position: sticky;
    top: 200px;
    z-index: 9998;
    /* kur bon scroll pas 200 px rrin nqat pozit */

}
.box1{
    /* margin-top: 100px; */
   /* position: static; */
   /* i shtyn edhe elementet tjera me to bashk */
position: relative;
/* nuk i efekton elementet tjera , nuk punon me margin */
top: 100px;
z-index: 9999;
/* nese osht -1 del mbas , vlerat pozitive del perpara */

}
.main1{
    margin-top: 100px;
    width: 300px;
    height: 300px;
    background-color: rgb(25, 53, 53);
    position: absolute;
    /* top: 0px;
    right: 0px;
    bottom: 0px; */

}
.main{
    width: 500px;
    height: 500px;
    background-color: coral;
    position: relative;
    margin-top: 200px;
}
