.box1{
 background-color: rgb(65, 65, 255);
 height: 300px;
 width: 225px;
 color: aliceblue;
 margin-right: 30px;
 border-radius: 16px;
 margin-top: 200px;
}
.box2{
    background-color: rgb(65, 65, 255);
 height: 300px;
 width: 225px;
 color: aliceblue;
 margin-right: 30px;
 border-radius: 16px;
 margin-top: 200px;
}
.box3{
    background-color: rgb(65, 65, 255);
 height: 300px;
 width: 225px;
 color: aliceblue;
 margin-right: 30px;
 border-radius: 16px;
 margin-top: 200px;
}
.box4{
    background-color: rgb(65, 65, 255);
 height: 300px;
 width: 225px;
 color: aliceblue;
 margin-right: 30px;
 border-radius: 16px;
 margin-top: 200px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    
    
}
.box1:hover{
    transition: 0.3s;
    scale: 1.08;
     animation-delay: 20ms;
}
.box2:hover{
    transition: 0.3s;
scale: 1.08;
 animation-delay: 20ms;
}
.box3:hover{
    transition: 0.3s;
    scale: 1.08;
     animation-delay: 20ms;
}
.box4:hover{
    transition: 0.3s;
    scale: 1.08;
    animation-delay: 20ms;
    
}
