.main{
    background-color: blueviolet;
    width: 500px;
    height: 200px;
    padding-bottom: 100px;
}
.allo2{
height: 160px;
width: 160px;
background-color: blue;
float: right;
}
.allo1{
    padding-top: 50px;
}