h1{
    background-color: blue;
    border-color: crimson;
    color: azure;
    border: 3px solid;
    

}
p{
    width: 600px;
    height: 400px;
    border: 2px dotted;
    background-color: yellow;
    margin-top: 50px;
}
a{
    border-bottom: 3px dashed;
    background-color: orange;
}
img{
    width: 500px;
    height: 500px;
}