li{
    color: rgb(23, 26, 224);
}
ul li {
    color: brown;
}
ol li{
    color: cyan;
}































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































