.menu{
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 50px;
    
    
}
.folder{
    background-color: rgb(0, 0, 0);
    display: flex;
    bottom: 0%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 1910px;

}
.box1{
    height: 600px;
    background-color: grey;
    width: 350px;
    margin-top: 80px;
    margin-left: 40px;
}
.box2{
    height: 600px;
    background-color: grey;
    width: 350px;
    margin-top: 80px;
    margin-left: 40px;
}
.box3{
    height: 600px;
    background-color: grey;
    width: 350px;
    margin-top: 80px;
    margin-left: 40px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:767px) {
    .box1{
        background-color: rgb(168, 143, 40);
         height: 600px;
    width: 350px;
    margin-top: 80px;
    margin-left: 40px;
    }
}

