.box1{
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    overflow-y: scroll;
    overflow-x: scroll;

}
/* div eshte element block  */
.main{
    width: 1000px;
    height: 1000px;
    background-color: rgb(65, 251, 251);
}
.main1{
    background-color: darkorchid;
    width: 500px;
    height: 500px;
    /* display: inline-block; */
    float: right;
}
.main2{
    background-color: brown;
    width: 300px;
    height: 500px;
    /* display: inline-block; */
    float: left;
}